@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
 *{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
.logo{
    
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    background-color:whitesmoke;
    width: 60px;
    border: 1px solid black;
    border-radius: 45px;
    
    
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
   

}
.nav-list{
width: 50%;

display: flex;
align-items: center;
}
.nav-list li{
    list-style: none;
    padding: 14px 25px;
}
.nav-list li a{
    font-size: 14pt;
   color: whitesmoke;
    text-decoration: none;
}
.nav-list li a:hover{
   color: rgb(58, 3, 35);
   font-size: 19pt;
}
.right-nav{
    text-align: right;
    width: 50%;
  
}
.background{
background: rgba(0,0,0,.5) url('../img/back.png');
background-size:cover ;
background-blend-mode:darken ;
}
.navbar{
    display: flex;
background: linear-gradient(90deg, rgba(194,39,50,1) 42%, rgba(13,7,18,1) 82%);
background: url('../img/nav4.jpg');
}
.firstsection{
    height: 100vh;
}
.box-main{
    
    font-family: 'Fredoka One', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    max-width: 50%;
    margin: auto;
    height: 66%;
}
.box-main img{
    background-color: white;
    border-radius: 95px;
}
.firstclass{
    margin-top: 80px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.second{
    margin-top: 60px;
    width: 30%;
}

.second img{
    width: 90%;
    margin:auto;
    display: block;
}
.text-big{
  
    font-family: 'Fredoka One', cursive;
font-size: 50px;
}
.text-small{
   
    font-family: 'Fredoka One', cursive;
font-size: 19px;
}
.btn{margin-top: 7px;
    border-radius: 18px;
    background: none;
    color: whitesmoke;
    border: 2px solid white;
    font-size: 17px;
    padding:5px
}
.btn-sm{
    background: whitesmoke;
    color: black;
    padding:3px;
    vertical-align: middle;
}
.text1{
    color: rgb(38, 9, 51);
    font-family: 'Fredoka One', cursive;
font-size: 50px;
}
.text2{
    color: rgb(83, 40, 83);
    font-family: 'Fredoka One', cursive;
font-size: 19px;
}
.section{
    padding: 20px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    max-width: 80%;
}
.left{
   
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    max-width: 80%;
    flex-direction: row-reverse;
}
.imgfluid{
height: 350px;
border-radius: 39px;
border: 2px solid rgb(248, 186, 248);
}
.paras{
    padding: 0 67px;
}
.followus{
    max-width: 100%;
}
.fhead{
    font-size: 40pt;
    display: flex;
    margin:33px auto;
    color: rgb(27, 6, 36);
    text-align: center;
    justify-content: center;
}
.fimg{
    display: flex;
    justify-content: center;
    text-align: center;  
}
.fi{
    
    margin: 20px;
    height: 170px;
}
.burger{
    display: none;
position: absolute;
cursor: pointer;
right: 5%;
top:15px;
}
.line{
    width: 33px;
    background-color: white;
    height: 3px;
    margin: 5px 3px;
}
@media only screen and (max-width: 1178px) {
    
    .navbar{
        flex-direction: column;
        transition: all 0.7s ease-out;
        height: 300px;
    }
    .nav-list{
        flex-direction: column;
    }
    .logo img{
        background:none;
        width: 60px;
        border: 0px solid black;
        border-radius: 0px;
        
        
        
    }
    .box-main img{
        margin-top: 53px;
        background-color: white;
        border-radius: 95px;
    }
    #search{
        width: 100%;
    }
    .box-main{
        flex-direction: column-reverse;
        max-width: 100%;
    }
    .burger{
        display: block;
    }
    .h-nav-resp{
        height: 73px;
    }
    .v-class-resp{
        opacity: 0;
    }
    .followus{
        margin-top: 44px;
        display: flex;
        flex-direction: column;
    }
    .fimg{
        
        flex-direction: column;
    }
    .fi{
        
        width: 30%;
        height: 30%;
        margin: auto;
    }
    .section{
        flex-direction: column-reverse;
    }
    .paras {
        padding: 0 18px;
    }
    .imgfluid{
        height: 250px;
        border-radius: 29px;
        border: 2px solid rgb(248, 186, 248);
        }
        .text1 {
            
            font-size: 35px;
        }
        .text2{
            font-size: 19px;
        }
  }